
<div class="header-container">


<!--
<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <img src="/assets/images/MetroTransitLogo.svg" height="40" class="p-mr-2">
  </ng-template>
  <ng-template pTemplate="end">
    <input type="text" pInputText placeholder="Search">
  </ng-template>
</p-menubar>
<img src="/assets/images/MetroTransitLogo.svg" height="40" class="p-mr-2">
-->

<!--
<div style="display: inline-block">
  <span><p-menubar [model]="items"></p-menubar></span>
  <span> <img src="/assets/images/MetroTransitLogo.svg" height="40" class="p-mr-2"></span>
</div>

<!--
<div class="p-d-flex">
  <div class="p-mr-2">Item 1</div>
  <div class="p-mr-2">Item 2</div>
  <div>Item 3</div>
</div>
-->

<!--
<div class="p-d-flex">Flex Container</div>
<div class="p-d-inline-flex">Inline Flex Container</div>
-->

<!--
<div class="p-d-flex">
  <div class="p-mr-2"><img src="/assets/images/MetroTransitLogo.svg" height="40" class="p-mr-2"></div>
  <div class="p-mr-2"><p-menubar [model]="items"></p-menubar></div>
</div>
-->

<!--
<div class="p-d-flex">
  <div class="p-mr-2"><p-menubar [model]="items"></p-menubar></div>
  <div class="p-mr-2"><img src="/assets/images/MetroTransitLogo.svg" height="40" class="p-mr-2"></div>
</div>
-->

<!--
<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <img src="/assets/images/MetroTransitLogo.svg" height="40" class="p-mr-2">
  </ng-template>
  <ng-template pTemplate="end">
    <input type="text" pInputText placeholder="Search">
  </ng-template>
</p-menubar>
-->

<!--
<div class="p-grid">
  <div class="p-col"><p-menubar [model]="items"></p-menubar></div>
  <div class="p-col"><img src="/assets/images/MetroTransitLogo.svg" height="40" class="p-mr-2"></div>
  <div class="p-col"><p-menubar [model]="items"></p-menubar></div>
</div>
-->

<!-- UI - v1
<div class="p-grid">
  <div class="p-col-4 p-md-6 p-lg-4 p-xl-4"><p-menubar [model]="items"></p-menubar></div>
  <div class="p-col-7 p-md-5 p-lg-4 p-lg-6 "><img src="/assets/images/MetroTransitLogo.svg" height="35"></div>
  <div class="p-col-1 p-md-1 p-lg-4 p-lg-2"></div>
</div>
-->
  <a [routerLink]="'/home'">
    <div class="p-grid">
      <div class="p-col-3 p-mt-2"> <img src="/assets/images/MetroTransitWebToolsTeamLogo - v2.png" height="45"></div>
      <div class="p-col-4">&nbsp;</div>
      <div class="p-col-5" style="max-width: 100%"> <!--<p-menubar [model]="items"></p-menubar> --></div>
    </div>
  </a>
</div>
