.footer-container {
  color: aliceblue;
  background-color: lightslategrey;
  text-align: center;
  vertical-align: center;
  text-decoration: none !important;
  padding-top: 10px;
  margin: 0 0;
  margin-inside: 0 0;
  min-height: 50px;
}
