<div class="stops-container">

  <div style="text-align: center"><h1>Bus & Train Stops</h1></div>
  <br>

  <!-- Current Version -->
  <div class="p-grid p-text-center" style="padding-left: 0px; padding-right: 0px; width: 100%;">
    <div class="p-col-12">
      <p-dropdown [options]="routes"
                  [(ngModel)]="selectedRouteId"
                  optionLabel="route_label"
                  optionValue="route_id"
                  scrollHeight="500px"
                  placeholder="Select a Route"
                  (onChange)="onSelectRoute(selectedRouteId)">
      </p-dropdown>
    </div>

    <div *ngIf="directions.length > 0" class="p-col-12">
      <p-dropdown [options]="directions"
                  [(ngModel)]="selectedDirectionId"
                  optionLabel="direction_name"
                  optionValue="direction_id"
                  placeholder="Select a Direction"
                  (onChange)="onSelectDirection(selectedDirectionId)">
      </p-dropdown>
    </div>
  </div>



  <p-messages [(value)]="messages"></p-messages>
  <div class="p-grid p-text-center">
    <div class="p-col-0 p-md-0 p-lg-1 p-xl-2"></div>
    <div class="p-col-12 p-md-12 p-lg-10 p-xl-8">
    <p-table *ngIf="places.length > 0" [value]="places" styleClass="p-datatable-striped" responsiveLayout="scroll" [rowHover]="true" [autoLayout]="true">
      <ng-template pTemplate="header">
        <tr>
          <th class="table-header">Place Code</th>
          <th class="table-header">Description</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-place>
        <tr (click)="onSelectStop(place.place_code)" class="table-row">
          <td>{{place.place_code}}</td>
          <td>{{place.description}}</td>
        </tr>
      </ng-template>
    </p-table>
    </div>
    <div class="p-col-0 p-md-0 p-lg-1 p-xl-2"></div>
  </div>
  <br>
  <br>
  <br>
  <div class="p-text-center"><a [routerLink]="'/home'">- Home -</a> </div>
  <br>
</div>
